body{
  background-color: #4a4e69 !important;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;

}
.text-error{
  color: red;
}
.card{
  margin-top: 50px;
  padding: 25px;
  border-radius: 6px;
  box-shadow: 0px 8px 36px #222;
  background-color: #fefefe;
}
button{
  padding: 0.938em !important;
  border: none !important;
  border-radius: 5px !important;
  background-color: #22223b !important;
  color: #fefefe !important;
  min-width: 100% !important;
  cursor: pointer   ;
}
button:hover {
  background-color: #4a4e69 !important;
  color: #fefefe !important;
}
.submit-msg{
  color: green !important;
}